body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.app {
  margin: 0 200px;
  width: auto;
  min-width: 260px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  
  @media screen and (max-width: 768px){
    margin: 0 20px;
    
  }
}

h1 {
  text-align: center;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputForm {
  padding-inline: 10px;
  display: flex;
  justify-content: center;
}

#pairInput {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

#pairInput:hover {
  border-color: #80bdff;
}

#pairInput:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.list-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  max-height: 400px;
  min-width: 300px;
  max-width: 80vw;
  border: 1px solid #ced4da ;
  border-radius: 5px;
  margin: 0.5rem;
  overflow: auto;

  @media screen and (max-width: 768px){
    min-width: 200px;
  }
}

#pairList {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.pairItem {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #ecf0f5;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.selected {
  background-color: #abc7e4;
}

.button {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #004c9e;
}

.actions {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px){
    flex-direction: column;
    
  }
}

.xml-block {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  max-width: 80%;
}

#xmlOutput {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  background-color: #f9f9f9;
  color: #333;
  white-space: pre-wrap;
  tab-size: 2;
}

#xmlActions {
  display: flex;
  justify-content: center;
}
